body,
h1 {
  margin: 5px;
  font-size: 15px;
}

body {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  height: 130vh;
}

a {
  text-decoration: none;
  text-align: center;
}

ul {
  list-style: none;
}

.company {
  color: #000;
  text-align: left;
}

.nav-list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  padding: 5px;
}

.nav-item {
  text-decoration: none;
  color: #69696a;
  display: flex;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

.hireus,
.calltoaction {
  background-color: #000;
  display: block;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
}

.description {
  border-left: 3px solid #69696a;
  padding-left: 10px;
  color: #69696a;
}

.footer h4 {
  color: #000;
  padding-left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  box-sizing: border-box;
  line-height: 2px;
}

.footer-nav-list {
  display: flex;
  padding: 10px;
  margin: auto;
}

.footer-nav-list a {
  color: #69696a;
  padding: 5px;
}
